.home-heading {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  margin-bottom: 40px;
  margin-top: 20px; }
  .home-heading .uvic {
    float: left; }
  .home-heading .neptune {
    float: right; }
  .home-heading h1 {
    display: inline;
    margin-left: 150px; }
  .home-heading h2 {
    font-size: large;
    margin-top: 40px; }
