body {
  margin: 0px;
  color: white;
  font-family: "arial"; }

.background {
  background-image: url("../images/undersea-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: -100; }

.title-bar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.65); }

#game-frame {
  margin-left: auto;
  margin-right: auto;
  display: block; }

div {
  margin: 0px;
  padding: 0px; }

.content-container {
  margin-left: auto;
  margin-right: auto;
  width: 820px;
  background-color: rgba(0, 0, 0, 0.65); }

.content {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 40px 0px; }

.nav-bar {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  margin-top: 20px; }

.nav-bar-link {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.65);
  width: 32.9%;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 3px 3px 0px 0px; }
  .nav-bar-link a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 10px; }
