$main-text-color: white;
$highlight-text-color: #63B7F2;
$main-text-font: "comic sans ms";
$content-container-width: 860px;
$content-width: 800px;
$nav-bar-width: $content-container-width - 20px;
$soft-corner: 3px;

@mixin transparent-background {

	background-color: rgba(0, 0, 0, 0.65);
}

@mixin centered {
	margin-left: auto;
	margin-right: auto;
}

@mixin subdued-headings {
	h2 {
		font-size: large;
		margin-top: 40px;
	}
}

@mixin regular-links {
	a {
		text-decoration: none;
		color: $highlight-text-color;
		&:hover {
			color: $main-text-color;
		}
	}
}

@mixin main-links {
	a {
		text-decoration: none;
		color: $main-text-color;
		&:hover {
			color: $highlight-text-color;
		}
	}
}
