@import "common";

.content {

	a {

		text-decoration: none;
		color: black;
		background-color: white;
		border-radius: 2px;
		padding: 1px;
		&:hover {
			color: gray;
		}
	}

	@include subdued-headings;
}
