$main-text-color: white;
$main-text-font: "arial";
$content-container-width: 775px;
$content-width: 700px;

@mixin transparent-background {

	background-color: rgba(0, 0, 0, 0.65);
}

@mixin centered {
	margin-left: auto;
	margin-right: auto;
}

body {

	margin: 0px;
	color: $main-text-color;
	font-family: $main-text-font;
}

.background {
	background-image:url('../images/undersea-bg.png'); // Gotta be relative paths for this project :(
	background-repeat:no-repeat;
    	background-size:cover;
   	background-position: center;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: -100;
}

.title-bar {
	@include centered;
	width: 100%;
	font-size: 20px;
	padding: 20px;
	@include transparent-background;
}

#game-frame {
	@include centered;
	display: block;
}

div {
	margin: 0px;
	padding: 0px;
}

.content-container {
	@include centered;
	width: $content-container-width;
	@include transparent-background;
}

.content {
	@include centered;
	width: $content-width;
	padding: 40px 0px;
}
